*{
    font-family: 'Nunito', sans-serif;
    
}

.imagem-landing {
    width: 400px;
}

img{
    display: flex;
}

h1 {
    padding: 32px;
}
.card-image {
    width: 291px;
    height: 144px;
}

.texto {
    width: 470px;
}

.image-content{
    float: right;
    margin: -255px 200px 10px 10px
}


.contents {
   float: left;
   margin: 20px;
}

@media (max-width: 400px) {

    .container {
        font-size: 16px;
    }

    .image-content{
        opacity: 0;
    }


}